
html {
  line-height: 1.2; 
  -webkit-text-size-adjust: 100%;
}

html, * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  margin: 0;
}

.btn-primary{
    background-color: #343638!important;
    border-color: #292d31!important;
}

.method-btn{
    
}